@layer reset, base, app;

@import url('https://fonts.googleapis.com/css2?family=Playwrite+HU:wght@100..400&family=Rouge+Script&display=swap') layer(base);
@import url('open-color.css') layer(base);

@layer reset {
  *, *::before, *::after {
    box-sizing: border-box;
  }

  input, button, textarea, select {
    font: inherit;
  }

  body, h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
}

@layer base {
  :root {
    --fg: light-dark(var(--oc-gray-9), var(--oc-gray-0));
    --bg: light-dark(var(--oc-gray-0), var(--oc-gray-9));
    --primary: light-dark(var(--oc-cyan-4), var(--oc-cyan-9));
  }

  body {
      color: var(--fg);
      background-color: var(--bg);
      font-family: Tahoma, Verdana, Sans;
  }

  input, textarea, select {
    font-family: 'system-ui', Tahoma, Verdana, Sans;
    border: solid 1px var(--oc-cyan-9);
    border-radius: 3px;
  }

  button {
    font-family: 'system-ui', Tahoma, Verdana, Sans;
    font-variant: all-small-caps;
    padding: 0.4rem 0.80rem 0.55rem 0.8rem;
    border: solid 1px var(--oc-cyan-9);
    border-radius: 3px;
    background: linear-gradient(180deg, var(--oc-cyan-4) 90%, var(--oc-cyan-6) 100%);
    min-width: 5rem;
    color: var(--oc-white);
    font-weight: bold;
  }

  button:hover {
    background: linear-gradient(180deg, var(--oc-cyan-3) 90%, var(--oc-cyan-5) 100%);
  }

  button:active {
    background: linear-gradient(0deg, var(--oc-cyan-3) 90%, var(--oc-cyan-5) 100%);
    padding: 0.5rem 0.80rem 0.45rem 0.8rem;
  }

  header {
      display: flex;
      flex-direction: horizontal;
      justify-content: space-between;
      padding: 0 2rem 0 2rem;
      color: var(--fg);
      background-color: light-dark(var(--oc-cyan-4), var(--oc-cyan-9));
      border-bottom: solid 1px var(--oc-cyan-6);
      box-shadow: 0 0.2rem 0.2rem var(--oc-gray-4);
      height: 5.5rem;
  }

  main {
      color: light-dark(var(--oc-gray-9), var(--oc-gray-0));
      margin: 0 1vw;
      @media only screen and (min-width: 768px) {
        margin: 0 2.5vw;
      }
  }

  table {
    color: var(--bg);
    box-shadow: 0 0.2rem 0.2rem var(--oc-gray-4);
    border-spacing: 0;
    border: 1px solid var(--oc-cyan-5);
    border-radius: 3px;
  }

  thead {
    border-color: var(--oc-cyan-3);
  }

  th {
    background-color: var(--oc-cyan-3);
    padding: 0.3rem;
  }

  td {
    border: 1px dashed var(--oc-gray-3);
    background-color: var(--bg);
    height: 3rem;
    padding: 0.3rem;
    width: 2.5rem;
  }

  td.selected {
    background-color: var(--oc-pink-1);
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
  }

  td.selected ~ td:has(~ td:hover) {
    background-color: var(--oc-pink-1);
  }

  td.selected ~ td:hover {
    background-color: var(--oc-pink-1);
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
  }

  .marker--office {
    content: url('/icons/business-outline.svg');
    border: 1px solid var(--oc-green-6);
    width: 100%;
    border-radius: 4px;
    background-color: var(--oc-green-4);
    padding: 0.4rem;
    height: 2rem;
  }

  .marker--wfh {
    content: url('/icons/home-outline.svg');
    border: 1px solid var(--oc-indigo-6);
    width: 100%;
    border-radius: 4px;
    background-color: var(--oc-indigo-4);
    padding: 0.4rem;
    height: 2rem;
  }

  .marker--holiday {
    content: url('/icons/ice-cream-outline.svg');
    border: 1px solid var(--oc-gray-6);
    width: 100%;
    border-radius: 4px;
    background-color: var(--oc-gray-4);
    padding: 0.4rem;
    height: 2rem;
  }

  th:first-child {
    background-color: var(--oc-cyan-3);
    font-weight: bold;
  }

  td:first-child {
    color: var(--fg);
  }
}

@layer app {
  .nav--title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }

  .nav--title {
    font-family: "Playwrite HU";
    color: var(--oc-gray-0);
    text-shadow: 1px 1px var(--oc-cyan-9);
  }

  .nav--login-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }

  .nav--login-icon {
    background-image: url('/icons/person-circle-outline.svg');
    filter: invert() brightness(95%);
    background-position: center;
    background-repeat: no-repeat;
    min-width: 2.5rem;
    min-height: 2.5rem;
  }

  .nav--login-name {
    color: var(--bg)
  }

  .week-view--container {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
  }

  .week-view--table-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    padding-top: 2em;
  }

  .week-editor--table {
    width: 100%;
    text-align: center;
    table-layout: fixed;
  }

  .week-editor--title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .week-editor--container {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2em;
    padding-top: 2em;
  }

  /* TODO use ::before w/ proper tinting */
  .week-editor--table-td:hover:not(.selected) {
    background-image: url('/icons/add-circle-outline.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 2em 2em;
  }

  .week-editor--table-td.selected > td:hover {
    background-color: var(--oc-green-1);
    border-radius: 2em;
  }

  .week-editor--hour-type-container {
    display: flex;
    gap: 1em;
    flex-direction: row;
  }

  .week-editor--hour-type-select {
    display: flex;
    gap: 1em;
    flex-direction: row;
  }

  .week-editor--radio-button-office {
    height: 2em;
    background-image: url('/icons/business-outline.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .week-editor--radio-button-home {
    height: 2em;
    background-image: url('/icons/home-outline.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .week-editor--radio-button-holiday {
    height: 2em;
    background-image: url('/icons/ice-cream-outline.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}
